doctype html
html(lang='en')
	head
		link(rel='stylesheet', href='../../main.css', type='text/css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

	body
		.alert.alert-success(role='alert') Tweet posted succesfull! 
				p #{data.title}
				p #{data.message}