.content
    h1
        a.typewrite(href='', data-period='2000', data-type='[ "adidas Family", "Impossible is nothing", "Track and Field", "Olympic Goals" ]')
            span.wrap
    h1 Hello
        p=athlete.firstname
        p=athlete.lastname
    .container
        blockquote.quote-box
            p.quotation-mark
                | “
            p.quote-text
                | Don't believe anything that you read on the internet, it may be fake.
            hr
            .blog-post-actions
                p.blog-post-bottom.pull-left
                    | Abraham Lincoln
                p.blog-post-bottom.pull-right
                    span.badge.quote-badge 896
                    |   ❤