
doctype html
html
	head
	body

		H2  <p style="color: green">User Information App
			//- each user in foundUsers
			//- 	p=user.firstName
			//- 	p=user.lastName

			form(action='/' method='post')
				br
				| firstName:
				br
				input(type='text', name='firstName', value='firstname')
				br
				|   lastname:
				br
				input(type='text', name='lastName', value='lastname')
				br
				br
				input(type='submit', value='Submit')
				br
				br

