doctype html
html
	head
	body
		h2 User Information App
		each user in users
			p #{user.firstName} #{user.lastName}
		H2 Form formulier

			form(action='/' method='post')
				| firstName:
				br
				input(type='text', name='firstName', value='firstname')
				br
				|   lastname:
				br
				input(type='text', name='lastName', value='lastname')
				br
				br
				input(type='submit', value='Submit')