doctype html
html
	head
	body
		H2 Schrijf je nu in:

			form(action='/' method='post')
				| firstName:
				br
				input(type='text', name='firstName', value='firstname')
				br
				|   lastname:
				br
				input(type='text', name='lastName', value='lastname')
				br
				|   email:
				br
				input(type='text', name='email', value='email')
				br
				input(type='submit', value='Submit')